font.sis_header {
	font-family:verdana,arial,geneva,helvetica;
	font-size:18px;
	font-weight:bold;
	color:#262CBB;
}

.sectionHeader {
        font-family:arial,helvetica,sans serif;
        font-size:12px;
        color:white;
        text-indent:10px;        
        background-color:#47A3FE;        
        padding:2px 2px 2px 2px;
}

.sectionHeaderBold {
        font-family:arial,helvetica,sans serif;
        font-size:12px;
        font-weight:bold;
        color:white;
        text-indent:10px;        
        background-color:#47A3FE;        
        padding:2px 2px 2px 2px;
}
/*****************************************************************/
/* Common banner definitions */
/*****************************************************************/
td.bannerColored {
        font-family:arial,helvetica,sans serif;
        font-size:12px;
        font-weight:bold;
        color:white;
        text-indent:10px;        
        background-color:#47A3FE;        
        padding:2px 2px 2px 2px;
}

td.categoryTitle {
        font-family:arial,helvetica,sans serif;
        font-size:12px;
        font-weight:bold;
        color:#FFFFFF;
        text-indent:10px;        
        background-color:#47A3FE;        
        padding:2px 2px 2px 2px;
}

td.pageHeader {
	font-family:arial,helvetica,sans serif;
	font-size:14px;
	font-weight:bold;
	color:black;
	align:bottom;
	height:25px;
	border-bottom:solid 1px #0066CC;
	padding:3px 3px 3px 3px;
}

td {
	font-family:arial,helvetica,sans serif;
	font-size:12px;
	font-weight:normal;
}

/*****************************************************************/
/* Messaging Definitions */
/*****************************************************************/

/*****************************************************************/
/* Control Definitions */
/*****************************************************************/
input {
        font-family:arial,helvetica,sans-serif;
        font-size:12px;
        font-weight:normal;
        color:black;        
}
.smallControl {
        width:75px;        
}
.mediumSmallControl {
        width:100px;
}
.control {
        width:125px;        
}
.mediumLargeControl {
        width:150px;
}
.largeControl {
        width:200px;       
}

label {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
    font-weight:normal;
}

/*****************************************************************/
/* Component Definitions */
/*****************************************************************/
.boxedLabel {
        font-family:arial,helvetica,sans serif;
        font-size:10pt;
        font-weight:bold;
        border:solid 1px white;                
}

/*****************************************************************/
/* Border definitions */
/*****************************************************************/
.border {
        border: solid 1px;
}
.thickBorder {
        border: solid 2px;
}
.whiteBorder {
        border: solid 1px;
}

/*****************************************************************/
/* Layout Control Definitions */
/*****************************************************************/
.xsPadding {
	padding: 1px 1px 1px 1px;
}
.sPadding {
	padding: 2px 2px 2px 2px;
}
.padding {
	padding: 3px 3px 3px 3px;
}
.mPadding {
	padding: 4px 4px 4px 4px;
}
.lPadding {
	padding: 5px 5px 5px 5px;
}
.xlPadding {
	padding: 10px 10px 10px 10px;
}
/*****************************************************************/
/* Font Style Definitions */
/*****************************************************************/
a {
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:normal;
    color:#0066CC;
    text-decoration:underline;
}

a.basic {
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:normal;
    color:#0066CC;
    text-decoration:none;
}

a.underline {
	font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
    text-decoration:underline;	
}

font {
        font-family:arial,helvetica,sans-serif;
        font-size:12px;
        font-weight:normal;
}
.extraSmallFont {
        font-size:6px;
}
.smallFont {
		font-size:8px;
}
.mediumSmallFont {
        font-size:10px;
}
.defaultFont {
        font-size:12px;
}
.mediumFont {
        font-size:14px;
}
.mediumLargeFont {
        font-size:16px;
}
.largeFont {
        font-size:18px;
}
.extraLargeFont {
        font-size:20px;
}
.bold {
        font-weight:bold;
}
.smallIndent {
        text-indent:5px;
}
.indent {
        text-indent:10px;
}
.largeIndent {
        text-indent:15px;
}

/*****************************************************************/
/* Message color definitions */
/*****************************************************************/
.message {
	    font-family:arial,helvetic,sans serif;
        font-size:12px;
        font-weight:bold;	
}

.instruction {
		color:#0066CC;
}

.error {
	font-family:arial,helvetic,sans serif;
    font-size:12px;
    font-weight:bold;
    color:red;
}

.inform {
	font-family:arial,helvetic,sans serif;
    font-size:12px;
    font-weight:bold;
    color:#009966;
}

.success {
	font-family:arial,helvetic,sans serif;
    font-size:12px;
    font-weight:bold;
    color:#339933;
}

.note {
	font-family:arial,helvetic,sans serif;
    font-size:10px;
    font-weight:bold;
    color:#ff0000;
}
/*****************************************************************/
/* Common color definitions */
/*****************************************************************/
.white {
        color:#ffffff;
}
.green {
        color:#339933;
}
.orange {
        color:#FFCC33;
}
.red {
        color:#FF0000;
}
/*****************************************************************/
/*#47A3FE*/
/* Shaded color definitions */
/*****************************************************************/
.lightBlue {
        color:#B3D9FF;
}
.blue {
        color:#47A3FE;
}
.darkBlue {
        color:#0066CC;
}

.lightGray {
        color:#CCCCCC;
}
.gray {
        color:#BABABA;        
}
.darkGray {
        color:#666666;
}

.lightGreen {
        color:#BBE8D0;
}
.green {
        color:#78D1A4;
}
.darkGreen {
        color:#009966;
}
.lightOrange {
        color:#FD77B9;
}
.orange {
        color:#FAB672;
}
.darkOrange {
        color:#F88B07;
}
.lightYellow {
        color:#FDEDB8;
}
.yellow {
        color:#FDDE77;
}
.darkYellow {
        color:#FDD106;
}
/*****************************************************************/
/* Common Background Colors */
/*****************************************************************/
.whiteBg {
        background-color:#FFFFFF;
}
.lightBlueBg {
        background-color:#B3D9FF;
}
.blueBg {
        background-color:#47A3FE;
}
.darkBlueBg {
        background-color:#0066CC;
}

.veryLightGrayBg {
	background-color:#F0F0F0;
}

.lightGrayBg {
        background-color:#CCCCCC;
}

.grayBg {
        background-color:#BABABA;        
}

.darkGrayBg {
        background-color:#666666;
}

.lightGreenBg {
        background-color:#BBE8D0;
}
.greenBg {
        background-color:#78D1A4;
}
.darkGreenBg {
        background-color:#009966;
}
.lightOrangeBg {
        background-color:#FD77B9;
}
.orangeBg {
        background-color:#FAB672;
}
.darkOrangeBg {
        background-color:#F88B07;
}
.lightYellowBg {
        background-color:#FFFFCC;
}
.yellowBg {
        background-color:#FDDE77;
}
.darkYellowBg {
        background-color:#FDD106;
}
/*****************************************************************/
/* Common element definitions */
/*****************************************************************/
body {
        font-family:arial,helvetica,sans-serif;
        font-size:11px;
        font-weight:normal;
        margin: 10px 10px 10px 10px;
}

body.navFrame {
	margin: 0px 0px 0px 0px;
}

body.leftNavFrame { 
	background-image:url('/site_images/leftNavBg.gif');
	background-repeat:repeat-y;
	margin: 0px 0px 0px 0px;
}

hr {
	height:1px;
}

body.mainFrame {
        margin: 10px 10px 10px 10px;
}

select {
	font-family:arial,helvetica,sans serif;
	font-size:11px;
	font-weight:normal;
	border:solid 1px #0066CC;
}

p {
        font-family:arial,helvetica,sans serif;
        font-size:12px;
        font-weight:normal;
        text-decoration:none;
}

ul.darkBlue {
        font-family:arial,helvetica,sans serif;
        font-size:9pt;
        color:#0066CC;        
}

ul {
        font-family:arial,helvetica,sans serif;
        font-size:9pt;
        color:#000000;
        
}

/*****************************************************************/
/* Imported Styles */
/*****************************************************************/
/* -------------------------------------------------------START colors -------------------- */

BACKGROUND: #bababa
}
.back47A3FE {
	BACKGROUND: #47a3fe
}
.backB3D9FF {
	BACKGROUND: #b3d9ff
}
.backFFFFFF {
	BACKGROUND: #ffffff
}
.back0066CC {
	BACKGROUND: #0066cc
}
.backCCCCCC {
	BACKGROUND: #cccccc
}
.back999999 {
	BACKGROUND: #999999
}
/* ------------------------------------------------------- END colors------------------- */


/* ------------------------------------------------------- START fonts -------------------- */
/* ------------- START content -------------------- */
.superheadline {
	font-family : Imago, Arial, Helvetica, sans-serif;
	font-size : medium;
	font-weight : bold;
}

.superscription {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style : normal;
	font-weight : normal;
	color : #000000;
}

.contentheadline {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
}

.subheadline {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : italic;
	font-weight : normal;
	color : #000000;
	text-decoration : none;
} 
tr.content {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	text-decoration : none;
}
.content {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	text-decoration : none;
}

.content A, .content A:link, .content A:visited, .content A:active {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	color : #0066CC;
	text-decoration : underline;
}

.readmore {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-style : normal;
	font-weight : normal;
	color : #000000;
	text-decoration : underline;
}

.contentBold {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
}

.contentBoldItalic {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : italic;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
}

.contentItalic {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : italic;
	font-weight : normal;
	color : #000000;
	text-decoration : none;
}

.contentBold A, .contentBold A:link, .contentBold A:visited, .contentBold A:active {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : bold;
	color : #000000;
	text-decoration : underline;
}
/* ------------- END content -------------------- */


/* ------------- START navigation -------------------- */
.link {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	color : #000000;
	text-decoration : underline;
}
.linkalone {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	color : #0066CC;
	text-decoration : underline;
}
.leftnavi {
	font : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	text-decoration : none;
}


/* ------------- END navigation -------------------- */


/* ------------- START footer -------------------- */
.footerstartpage {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style : normal;
	font-weight : normal;
	color : #FFFFFF;
}

.footerstartpage A, .footerstartpage A:link, .footerstartpage A:visited, .footerstartpage A:active {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-style : normal;
	font-weight : normal;
	color : #FFFFFF;
	text-decoration : none;
}

.footercontent {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style : normal;
	font-weight : normal;
	color : #000000;
; text-decoration: none
}

.footercontent A, .footercontent A:link, .footercontent A:visited, .footercontent A:active {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-style : normal;
	font-weight : normal;
	color : #000000;
	text-decoration : none;
}
/* ------------- END footer -------------------- */
/* ------------------------------------------------------- END fonts -------------------- */
/* ------------- START RAS MODIFICATIONS ----------- */


h3  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
	background-color : #B3D9FF;
	padding-left : 10px;
	padding-top : 3px;
	padding-bottom : 3px;
}
ul.prodgroup li  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : normal;
	font-style : normal;
	list-style: url(../site_images/arrow_blue.gif);
	margin-bottom: 4;
}
ul.prodgroup A, ul.prodgroup A:link, ul.prodgroup A:visited, ul.prodgroup A:active {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	color : #0066CC;
	text-decoration : underline;
}
ul.category li  {
 font-family : Arial, Helvetica, sans-serif;
 font-size : 12px;
 font-weight : normal;
 font-style : normal;
 list-style: url(/site_images/arrow_blue.gif);
 margin-bottom: 4;
 text-decoration : none;
}

ul.benefits li  {
 font-family : Arial, Helvetica, sans-serif;
 font-size : 12px;
 font-weight : normal;
 font-style : normal;
 list-style: url(/site_images/benefit.gif);
 margin-bottom: 4;
 text-decoration : none;
}

/* ------------- END RAS MODIFICATIONS ----------- */.ProductHeadline {
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 14px;
 font-weight : bold;
}
.ChapterHeadline {
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 14px;
 font-weight : bold;
}
.ProductAddtext {
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
 font-weight : bold;
}
.Headline1 {
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
 font-weight : bold;
}
.Copytext{
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
 line-height : 19px;
}
.Copytextitalic{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
 font-style : italic;
}
.List1{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
 list-style : square;
 list-style-type : square;
}
.KitContentsBold{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
 font-weight : bold;
} 
.KitContents{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
} 
.KitContentsTable{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
 border-width : 1px 1px 1px 1px;
 border-color : black black black black;
 border-left-width : 1px;
 border-right-width : 1px;
 border-style : solid;
 border-top-width : 1px;
}
.ImageCaptionBold{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
 font-weight : bold;
} 
.ImageCaption{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
} 
.OrderButton { 
 color:black;
 background-color: #c8c8c8; 
 width: 80px; 
 text-align: center; 
 vertical-align: middle; 
 cursor: pointer;
}
.OrderQuantity { 
 color:black;
 background-color: white; 
 width: 80px; 
 text-align: center; 
 vertical-align: top; 
 cursor: text;
  font : bold 11px arial, helvetica, sans-serif;
  font-weight : bold;
  font-family : arial, helvetica, sans-serif;
  font-size : 11px;
}
.italic{
 font-style : italic;
}
.Bold{
 font-weight : bold;
}
.SeePage{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
 font-weight : bold;
 font-style : italic;
} 
.FigLeg{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 13px;
} 
.FootNote{
 background-color:white;
 color: black;
 font-family : arial, helvetica, sans-serif;
 font-size : 11px;
}
.hp_ProductText {
 font-family : Arial, Helvetica, sans-serif;
 font-size : 12px;
}
.hp_DisclaimerText {
 font-family : Arial, Helvetica, sans-serif;
 font-size : 12px;
 width : 600px;
 
}

