<!DOCTYPE html>
<html>
  <head>
    <title>Bamboo PMS</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css, //netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css -->
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome, //netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"> </script>
    <style>
      body { padding-top: 50px; }
      .fa-sign-out { float: right; }
      #upload-input {
        display: none;
      }
    </style>
  </head>
