{% include "head.htm" %}

  <body>
    
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>Bamboo PMS Platform</h1>
        <p class="lead">Bamboo, based Python2.7.</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <!--<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>-->
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

      </div>

      <div>
        <a href="https://github.com/MarsBighead" class="fl logo" title="Toger.T">
          {% load staticfiles %}
          <img src="{% static "@100x150_bamboo.png" %}" alt="Toger.T">
        </a>
        <p>
           Mars.Bighead<br> 
           Bamboo © 2016
        </p>
      </div>
      
    </div>
  </body>
</html>
